<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
<center>
    <h1>{{Anw}}</h1>
    <h2 style="border-radius: 30px; background-color:#6b6b6b;width: 1300px;height:35px;"><font color="white">True answers{{true}}</font></h2>
    <h2 style="border-radius: 30px; background-color:#6b6b6b;width: 1300px;height:35px;"><font color="white">>Your answers{{false}}</font></h2>
    <button style="padding:15px 40px; background-color:#6b6b6b;" type="button"><a href="http://127.0.0.1:8000/Exit/">Exit</a></button>
    </center>
</body>
</html>
