{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test 2</title>
</head>
<body>
<link rel="stylesheet" href="{% static 'style.css' %}">

<div class="topnav" style="background-color:#6b6b6b">
  <a>Test 5</a>
  <a href="http://127.0.0.1:8000/Tests">Home</a>
  <a href="http://127.0.0.1:8000/Exit">Exit</a>
</div>
<form method="post" action="{%url 't5'%}">
     {% csrf_token %}
    <div style="padding-top: 2rem;">
        <center><h1 style="border-radius: 30px; background-color:#6b6b6b;width: 600px;height:40px;"><font color="white">Question 5: Find false answer</font></h1></center>
        <center><h1 style="border-radius: 30px; background-color:#6b6b6b;width: 550px;height:40px;"><font color="white">13**2</font></h1></center>
        <div style="padding-top: 2rem;">
            <center><h1 style="border-radius: 30px; background-color:#6b6b6b;width: 300px;height:40px;"><font color="white">A 13*13</font></h1></center>
            <center><h1 style="border-radius: 30px; background-color:#6b6b6b;width: 300px;height:40px;"><font color="white">B 133</font></h1></center>
            <center><h1 style="border-radius: 30px; background-color:#6b6b6b;width: 300px;height:40px;"><font color="white">C 169</font></h1></center>
        </div>
        <div style="padding-top: 5rem;">
        <center><input size="40px" style="padding:15px; activeground-color:black; #04AA6D" height="40px" type="text" name="data" id="image">
    <button type="submit" name="set_button" style="padding:15px 40px; background-color:#6b6b6b;">Enter</button>
        </center><div style="padding-left:1200px">
            <button style="padding:15px 40px; background-color:#6b6b6b;" type="button"><a href="http://127.0.0.1:8000/Test6/">Next</a></button>
            </div>
            </div>
        </div>
</form>

</body>
