<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test start</title>
</head>
<body>
<h1>Do you want to try yourself: <button type="submit" name="set_button" style="padding:15px 40px; background-color:black;"><a href="http://127.0.0.1:8000/Test/" style="padding:15px; activeground-color:black; #04AA6D">Yes</a></button>
    <button type="submit" name="set_button" style="padding:15px 40px; background-color:black;"><a href="http://127.0.0.1:8000/Exit/" style="padding:15px; activeground-color:black; #04AA6D">No</a></button>
    </h1>
</body>
</html>
